<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>760590178560-l9qqh71tcrj4i30ooo88she25uf5i1np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760590178560-l9qqh71tcrj4i30ooo88she25uf5i1np</string>
	<key>API_KEY</key>
	<string>AIzaSyA6rUtgC8UVWINM6Q3qe9JuFUC3iXMrios</string>
	<key>GCM_SENDER_ID</key>
	<string>760590178560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeproject</string>
	<key>PROJECT_ID</key>
	<string>awesome-project-e618b</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-project-e618b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760590178560:ios:0b81a6789f82c713</string>
	<key>DATABASE_URL</key>
	<string>https://awesome-project-e618b.firebaseio.com</string>
</dict>
</plist>